<h1>Take the SPIN</h1>
<div class="spinActivity">
  <h3>{{question.questionText}}</h3>
  <a class="scorer" {{action "setScore" 1}}>1</a>
  <a class="scorer" {{action "setScore" 2}}>2</a>
  <a class="scorer" {{action "setScore" 3}}>3</a>
  <a class="scorer" {{action "setScore" 4}}>4</a>
  <a class="scorer" {{action "setScore" 5}}>5</a>
</div>

